[submodule "bundles/epic_mongo"]
	path = bundles/epic_mongo
	url = git@github.com:aaroncox/EpicMongo.git
[submodule "bundles/myunit"]
	path = bundles/myunit
	url = git://github.com/etherealite/myunit.git
[submodule "application/libraries/Markdown"]
	path = application/libraries/Markdown
	url = git://github.com/michelf/php-markdown.git
[submodule "application/language"]
	path = application/language
	url = git://github.com/D3Up/Languages.git
[submodule "bundles/s3"]
	path = bundles/s3
	url = git://github.com/swt83/laravel-s3.git
[submodule "api"]
	path = api
	url = https://github.com/D3Up/API.git
