.compare-container .title-block {
	background-position: center top;
}
.compare-container .skill-row {
	text-align: center;
}
.compare-container .skill-row .skill-icon {
	width: 32px;
}
.compare-container .gear-table {
	padding: 10px;
}
.compare-container .tab-pane .gear-table td {
	border: none;
	padding: 2px;
	line-height: 32px;
}
.compare-container .tab-pane .gear-table td:first-child {
	width: 38px;
}
.build-container .nav.nav-pills,
.compare-container .nav.nav-pills {
	text-align: center;
	border: 1px solid #333;
	padding: 5px;
	margin-bottom: 10px;
}
.build-container .nav-pills > li,
.compare-container .nav-pills > li {
	display: inline-block;
	float: none;
}
/*.stat-table td {
	height: 22px;
}*/
.compare-container .stat-table td {
	width: 50%;
}
.build-stats td {
	border: 0;
}
.build-stats tr {
	border-top: 1px solid #333;
}
.build-stats tr:first-child {
	border-top: 0px solid #333;
}
.build-stats[data-id*=-sidebar-compare],
.build-stats[data-id*=-sidebar-compare] td {
	text-align: center;	
	color: #fff;
}
.build-stats[data-id*=-sidebar-compare] td .stat-container {
	position: relative;
}
.victor-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-right: 15px solid green;
}
.victor-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 0; 
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-left: 15px solid green;
}
.mitigation-controls {
	font-size: 16px;
}