body {
	color: #ececec;
	background-color: #111;
}

body > .container {
	margin-top: 30px;
	padding: 5px;
}

a {
  color: #70B1D5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #70B1D5;
  text-decoration: underline;
}

.content-page {
	margin: 5px;
	border: 1px solid #333;
	background: #222;
	border-radius: 4px;
}

.build-container {
	margin-top: 3px;
}

.homepage {
	margin-top: 10px;
}

.homepage .leaderboard {
	text-align: center;
	margin: 10px 5px 20px;
}

.sysmsg img {
	margin: 7px auto;
	display: block;
}

.quality-1 {
	color: #FFFFFF !important;		
}
.quality-2 {
	color: #FFFFFF !important;
}
.quality-3 {
	color: #FFFFFF !important;
}
.quality-4 {
  color: #7979D4 !important;				
}
.quality-5 {
  color: #F8CC35 !important;		
}
.quality-6 {
  color: #BF642F !important;	
}
.quality-7 {
  color: #8BD442 !important;		
}
