body {
	color: #ececec;
	background-color: #111;
}

body > .container {
	margin-top: 30px;
	padding: 5px;
}

a {
  color: #70B1D5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #70B1D5;
  text-decoration: underline;
}

.content-page {
	margin: 5px;
	border: 1px solid #333;
	background: #222;
	border-radius: 4px;
}

.build-container {
	margin-top: 3px;
}

.homepage {
	margin-top: 10px;
}

.homepage .leaderboard {
	text-align: center;
	margin: 10px 5px 20px;
}

.sysmsg img {
	margin: 7px auto;
	display: block;
}


