body {
	color: #ececec;
	background-color: #1b1b1b;
}

body > .container {
	margin-top: 55px;
}
body > .container > .headerbar {
	padding: 0 10px;
}
body > .container > .headerbar .notifications a {
	color: #f6f6f6;
}
body > .container > .headerbar .notifications a:hover {
	text-decoration: none;
}
body > .container > .headerbar h1 {
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 5px;
	padding: 0;
}
a {
  color: #70B1D5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #70B1D5;
  text-decoration: underline;
}

.popover {
	z-index: 1050;
}

.content-page {
	padding: 15px;
	border: 1px solid #333;
	background: #2b2b2b;
	border-radius: 4px;
}

.btn-d3up {
	color: #f6f6f6 !important;
	cursor: pointer;
	font-size: 14px;
	outline: 0;
	padding: 5px 12px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px #1f272b;
	border: 1px solid #1c252b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #232B30; /* old browsers */
	background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
	text-shadow: 1px 1px #111;
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}
.btn-d3up:hover {
	color: #f6f6f6;
	background: #4C5A64; /* old browsers */
	background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.btn-bar .btn-d3up {
	display: inline-block;
	line-height: 1em;
}

.homepage {
	margin-top: 10px;
}

.homepage .leaderboard {
	text-align: center;
	margin: 10px 5px 20px;
}

#sysmsg {
	margin: 0 0 5px;
}

.quality-1 {
	color: #f6f6f6f6f6f6 !important;		
}
.quality-2 {
	color: #f6f6f6f6f6f6 !important;
}
.quality-3 {
	color: #f6f6f6f6f6f6 !important;
}
.quality-4 {
  color: #7979D4 !important;				
}
.quality-5 {
  color: #F8CC35 !important;		
}
.quality-6 {
  color: #BF642F !important;	
}
.quality-7 {
  color: #8BD442 !important;		
}

.sync-results {
	padding: 5px;
}
.sync-results p {
	margin: 10px 15px;
}
.sync-results h4 {
	margin: 20px 0 10px 10px;
}
.sync {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sync li {
	margin-bottom: 1px;
	padding: 5px;
	overflow: hidden;
	word-wrap: none;
	white-space:nowrap;
}
.sync li a {
	font-weight: bold;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px;
	padding: 3px 5px;
	text-shadow: 0 0 #000;
}

.sync li.alert-warning {
	border-left: 15px solid #F9D084;
}
.sync li.alert-error {
  border-left: 15px solid #E6788B;	
}
.sync li.alert-success {
  border-left: 15px solid #A8E678;
}
.sync li.alert-info {
	background-color: #d9edf7;
  border-left: 15px solid #81DBEE;
}

.title-block {
	margin-bottom: 5px;
}

.table.build-table {
	
}
.table.build-table .skills img {
	height: 32px;
}

.guide-content {
	padding: 0 25px;
}
.guide-content .guide-anchor {
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden;
}
.footer {
	background-color: #222;
	margin: 15px 0;
	text-align: center;
}
.navbar *:focus {
	outline: 0 !important;
	box-shadow: 0;
}
.footer .navbar-inner {
	padding: 5px;
	min-height: auto;
}
.navbar .nav > li > a.iconmenu-dropdown {
	padding: 0;
	margin: 4px;
}
.navbar .nav > li > a.iconmenu-dropdown .icon-frame {
	width: 36px;
	height: 36px;	
}

.navbar .nav > li > a.iconmenu-dropdown .build-select .icon-custom-followers {
	margin: 0;
	margin-right: 5px;
}

/* Build Selection Tool */
.navbar .nav > li > a.dropdown-classes-container {
	margin: 0;
	padding: 5px 0 3px;
	width: 195px;
}
.navbar .nav > li > a.dropdown-classes-container .build-name {
	padding-top: 3px;
}
.navbar .nav > li > a.dropdown-classes-container .build-name:hover {
	color: #f6f6f6;
}
.navbar .nav > li > a.dropdown-classes-container .build-name small {
	display: block;
	color: #777;
}
.navbar .nav > li > a.dropdown-classes-container .icon-frame {
	float: left;
	margin-right: 5px;
}
.navbar .nav > li > .dropdown-classes {
	padding: 0;
	width: 225px;
}
.navbar .nav > li > .dropdown-classes ul {
	padding: 0;
}
.navbar .nav > li > .dropdown-classes ul li {
	padding: 0;
	margin: 0;
}
.navbar .nav > li > .dropdown-classes ul li.item:hover {
	background-color: #111;
}
.navbar .nav > li > .dropdown-classes ul li.controls {
	height: auto;
}
.navbar .nav > li > .dropdown-classes ul li.controls .btn-group {
	margin-top: 0;
}
.build-tools,
.build-select {
	display: inline-block;
}
.build-select {
	line-height: 1em;
	width: 165px;
	overflow: hidden;
	word-wrap: none;
	white-space:nowrap;	
}
.build-select a {
	display: block;
/*	padding-left: 46px;*/
}
.build-select .build-name {
	font-size: 14px;
	line-height: 25px;
}
.dropdown-classes .icon-frame {
	margin-right: 5px;
}
.build-select small {
	color: #777;
}
.build-tools {
	float: right;
}
.build-tools a {
	display: inline-block;
}
.dropdown ul li .build-tools a {
	padding: 0;
}
.dropdown ul li .build-tools a .icon-custom {
	vertical-align: top;
	margin: 0;
	line-height: 40px;
}
/* reusable frame */
.icon-frame { background-color: black; padding: 1px; border-left: 1px solid #3a2912; border-right: 1px solid #59411c; border-bottom: 1px solid #463419; border-top: 1px solid #574320; border-radius: 2px; }
.icon-frame img { display: block; vertical-align: bottom; }
.icon-frame.hardcore-frame,
a:hover .icon-frame.hardcore-frame { border-color:#a20101 } /* hardcore frame */
.icon-frame-text { vertical-align: middle; margin-top: -2px; margin-left: 2px; margin-right: 2px; } /* correctly aligns the frame within a line of text */

/* custom */
.icon-custom { background: url("/img/icons/tools.png") no-repeat; width: 36px; height: 36px; }
.icon-custom-calculator { background-position: 1px 1px; }
.icon-custom-gear { background-position: -36px 1px; }
.icon-custom-tooltip { background-position: -73px 1px; }
.icon-custom-followers { background-position: -109px 1px; }
.icon-custom-anniversary { background-position: -171px 1px; }
.icon-custom-ce { background-position: -215px 1px; }
.icon-custom-status { background-position: -258px 1px }
.icon-custom-ah-faq { background-position: -303px 1px }
li:hover > a .icon-custom-calculator { background-position: 1px -36px; }
li:hover > a .icon-custom-gear { background-position: -36px -36px; }
li:hover > a .icon-custom-tooltip,
.icon-custom-tooltip:hover { background-position: -73px -36px; }
li:hover > a .icon-custom-anniversary { background-position: -171px -42px; }
li:hover > a .icon-custom-ce { background-position: -215px -42px; }
li:hover > a .icon-custom-status { background-position: -258px -42px }
li:hover > a .icon-custom-ah-faq { background-position: -303px -42px }

.dropdown-menu.dropdown-classes {
/*	display: block;*/
}
.dropdown-classes > h3 {
	margin: 0;
	padding: 0 0 0 5px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #111;
	font-size: 1em;
	line-height: 1.5em;
}
.icon-blank {
	margin: 0;
	background-image: none;
	background-color: #111;
}

/*
 
	Build Browser CSS

*/

#browser .btn-toolbar {
	margin: 0;
	text-align: left;
}
#browser .filters .multiselect-container > ul > li > label {
	background-color: #333;
	font-weight: bold;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
#browser .filters select {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-right: 10px;
}
#browser .multiselect-container.dropdown-menu .input-prepend {
	width: auto;
	display: block;
}
#browser .multiselect-search {
	height: auto;
	width: 90%;
}
#browser .input-append .active, 
#browser .input-prepend .active {
	background-color: #70B1D5;
}
#browser .input-append .active a:hover, 
#browser .input-prepend .active a:hover {
	color: #000;
}
#browser .input-append .btn-danger {
	margin-left: 0;
}
#browser tbody td  {
	line-height: 42px;
	font-size: 1.5em;
	overflow: hidden;
}
#browser tbody td .popover-content {
	line-height: 1.1em;
	font-size: 0.75em;
}
#browser thead td {
	text-align: center;
}
#browser .filters td {
	text-align: left;
}
#browser .filters select {
	width: 100px;
}
#browser .d_name {
	width: auto;
	font-size: 1.25em;
}
#browser .d_name .updated {
	float: right;
	font-size: 0.75em;
	line-height: 0.9em;
	color: #666;
}
#browser .d_region_type,
#browser .d_level,
#browser .d_paragon {
	text-align: center;
	width: 50px;
	max-width: 30px;
}
#browser .d_actives {
	width: 252px;
	max-width: 252px;
}
#browser .d_passives {
	width: 123px;
}
#browser .d_passives img {
	display: block;
}
#browser .d_dps,
#browser .d_ehp {
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	width: 90px;
	max-width: 90px;
}
#browser .d_dps {
	color: #F50;
}
#browser .d_ehp {
	color: #5F0;
}
#browser .d_icon {
	width: 42px;
}
#browser .battlenet-scan {
	font-size: 1em;
	color: #f50;
	text-align: right;
}
#browser .battlenet-scan .btn {
	margin-left: 20px;
	margin-top: 7px;