.math-explanation {
	padding: 0px 15px;
	background-color: #222;
	color: #ececec;
	border-radius: 5px;
}
.math-explanation.span4 {
	padding: 0;
}
.math-explanation h2.lead {
	margin-bottom: 0px;
}
.math-explanation h5.lead {
	font-size: 1em;
	margin: 0 35px 10px;
}
.math-explanation .btn-group {
}
.math-explanation .content {
	border-top: 1px solid #555;
	padding: 20px;
}
.math-explanation .breadcrumb {
	margin-top: 10px;
	background: #333;
	margin: 10px 0;
}
.math-explanation .breadcrumb li {
	line-height: 22px;
}
.math-explanation .breadcrumb a {
	text-shadow: none;
}
.math-explanation h5.divider {
	margin-top: 30px;
	color: #555;
	border-bottom: 1px solid #555;
	padding: 5px;
	font-size: 2em;
}
.math-explanation ins {
	background-color: #c6ffc6;
	color: #000;
  text-decoration: none;
}
.math-explanation del {
	color: #000;
	background-color: #ffc6c6;
}