/* Maximum Width */
@media (min-width: 1200px) {
	.sysmsg img {
		margin: 15px auto;
	}
	.homepage .leaderboard {
		text-align: center;
	}
	.getting-started {
		width: 570px;
	}
	
}
@media (max-width: 1199px) and (min-width: 979px) {
	.skill-icons li img {
		width: 32px;
	}
	.skill-icons .skill-type {
		line-height: 32px;
	}
	.getting-started {
		width: 570px;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	.logo img {
		height: 74px;
	}
	.sysmsg img {
		margin: 0;
	}
	.nav-collapse {
		margin: 0;
	}
	.nav-collapse .nav {
	}
	body > .container {
		margin-top: 55px;
		padding: 0 5px;
	}
	.span9 {
		width: 483px;
	}
	.span3 {
		width: 220px;
	}
	.navbar-fixed-top {
		margin: 0 0 5px;
	}	
	.skill-icons li {
		padding: 0 3px;
	}
	.skill-icons li img {
		width: 32px;
	}
	.skill-icons .skill-type {
		line-height: 32px;
	}
	#browser tbody td {
		padding: 2px;
	}
	#browser .d_actives {
		width: 210px;
		max-width: 210px;
	}
}
@media (max-width: 767px) {
/*	body {
    padding-right: 1px;
    padding-left: 1px;
	}
	body > .container {
		margin: 0;
		margin-top: 55px;
		background: none;
		border: none;
	}
	.sysmsg img {
		margin: 0 0 5px;
	}
	.nav-collapse .nav {
	}
	.skill-icons {
		margin: 1px 5px;
		display: inline-block;
		float: left;
	}
	.skill-icons li img {
		width: 24px;
	}
	.skill-icons .skill-type {
		line-height: 24px;
	}*/
}